*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Momo Trust Sans", sans-serif;
  background-color: #272727;
  color: #F5F5F5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

header {
  padding: 2em;
}

h1 {
  color: #FF9E20;
  font-size: 2.5em;
  text-align: center;
  margin: 0 auto;
}

main {
  height: 80vh;
  max-width: 1200px;
  background-color: #333;
  border-radius: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4em;
  padding: 2em 4em;
  flex: 1;
}

footer {
  font-size:.7em;
  text-align: center;
  padding: 1em;
}

/* Reset form styles */

fieldset {
  border: none;
}

fieldset > * {
  display: block;
  margin: 1rem;
}

.check-setting > * {
  display: inline;
}

.setting-heading {
  font-size: 1.4em;
  font-weight: 600;
  color: #FF9E20;
}

legend.setting-heading {
  margin-bottom: 0;
}

hr {
  border-color: #FF9E20;
  margin: 0 auto 1rem;
  width: 90%;
}

.size-valid {
  display: none;
}

button {
  padding: .7em 1.5em;
  border-radius: 24px;
  border: none;
  background-color: #ff9811;
  color:#F5F5F5;
  font-weight: 600;
  min-width: 10em;
}

button:hover {
  background-color: #905100;
  cursor: pointer;
}

input[type=number] {
  padding: .7em;
  color:black;
  background-color: #ffd9a7;
  border: none;
  border-radius: 2px;
  min-width: 10em;
  font-weight: 600;
}

input[type=number]:invalid {
  background-color: rgb(255, 0, 0);
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  background-color: #f5f5f5;
  accent-color: #FF9E20;
  border-radius: 2px;
}

input[type=checkbox],
.check-setting label {
  cursor: pointer;
}

*:focus {
  outline: 2px solid black;
  box-shadow: 0 0 0 3px #FF9E20;
  border-radius: 2px;
}

button:focus {
  border-radius: 24px;
}


/* grid */

/* Content-box is crucial for precise calculation of the inner squares */
.grid {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid #ff9811;
  background-color: #F5F5F5;
  border-radius: 4px;
}

.square {
  border: none;
}
 
.black {
  background-color: black;
}
